<%-  include('includes/head'); %>
<%-  include('includes/nav'); %>

<div class="container">
    <h1><%= `${turma.ano}.${turma.semestre} - Turma ${turma.turma}` %></h1>
    <h2>Estudantes da turma</h2>
    <% estudantes.forEach(est => { %>
        <p>Nome: <%= est.primeiro_nome + " " + est.sobrenome %>, CPF: <%= est.cpf %>, Matrícula: <%= est.mat_estudante %></p>
    <% }) %>
</div>

<%-  include('includes/footer'); %>
