<%-  include('includes/head'); %>
<%-  include('includes/nav'); %>

<div class="container">
    <h1>Turmas</h1>
    <% turmas.forEach(t => { %>
        <a href="/turma/turmas/<%= t.id_turma %>"><p><%= `${t.ano}.${t.semestre} - Turma ${t.turma}` %></p></a>
    <% }) %>
</div>

<%-  include('includes/footer'); %>
